# Overview of Python (1)

"Portable, powerful, and a breeze to use", Python is a popular, open-source programming language used for both scripting applications and standalone programs. Python can be used to do pretty much anything.

## Python is interpreted

- Python is an _interpreted_ language, in contrast to Java and C which are compiled languages.

- This means we can type statements into the interpreter and they are executed immediately.

- Thus, you can use Python as a calculator. Position your cursor in the code cells below and hit [shift][enter].

In [0]:
5 + 5

- Groups of statements are all executed one after the other:

In [0]:
x = 5
y = 'Hello There'
z = 10.5

In [0]:
x + 5

## Assignments versus equations

- In Python when we write `x = 5` this means something different from an equation $x=5$.

- Unlike variables in mathematical models, variables in Python can refer to different things as more statements are interpreted.

In [0]:
x = 1
print('The value of x is', x)

x = 2.5
print('Now the value of x is', x)

x = 'hello there'
print('Now it is ', x)

## Calling Functions

We can call functions in a conventional way using round brackets

In [0]:
round(3.14)

## Types

- Values in Python have an associated _type_.

- If we combine types incorrectly we get an error.

In [0]:
print(y)

In [0]:
y + 5

## The type function

- We can query the type of a value using the `type` function.

In [0]:
type(1)

In [0]:
type('hello')

In [0]:
type(2.5)

In [0]:
type(True)

## Converting values between types

- We can convert values between different types.

### Converting to floating-point

- To convert an integer to a floating-point number use the `float()` function.

In [0]:
x = 1
x

In [0]:
type(x)

In [0]:
y = float(x)
y

### Converting to integers

- To convert a floating-point to an integer use the `int()` function.

In [0]:
type(y)

In [0]:
int(y)

## Variables are not typed

- _Variables_ themselves, on the other hand, do not have a fixed type.
- It is only the values that they refer to that have a type.
- This means that the type referred to by a variable can change as more statements are interpreted.

In [0]:
y = 'hello'
print('The type of the value referred to by y is ', type(y))
y = 5.0
print('And now the type of the value is ', type(y))

## Polymorphism

- The meaning of an operator depends on the types we are applying it to.

In [0]:
1 + 1

In [0]:
'a' + 'b'

In [0]:
'1' + '1'

### <a name="ex1"></a> Exercise 1, First Python code
Compute the value of the polynomial $y=ax^2+bx+c$ at $x=-2$, $x=0$, and $x=2.1$ using $a=1$, $b=1$, $c=-6$ and print the results to the screen.

<a href="#ex1answer">Answer to Exercise 1</a>

## Conditional Statements and Indentation

- The syntax for control structures in Python uses _colons_ and _indentation_.

- Beware that white-space affects the semantics of Python code.

- Statements that are indented using the Tab key are grouped together.

### `if` statements

In [0]:
x = 5
if x > 0:
    print('x is strictly positive.')
    print(x)
    
print('finished.')

### Changing indentation

In [0]:
x = 0
if x > 0:
    print('x is strictly positive.')
print(x)
    
print('finished.')

### `if` and `else`

In [0]:
x = 0
print('Starting.')
if x > 0:
    print('x is strictly positive.')
else:
    if x < 0:
        print('x is strictly negative.')
    else:
        print('x is zero.')
print('finished.')

### `elif`

In [0]:
print('Starting.')
if x > 0:
    print('x is strictly positive')
elif x < 0:
    print('x is strictly negative')
else:
    print('x is zero')
print('finished.')

## Lists

We can use _lists_ to hold an ordered sequence of values.

In [0]:
l = ['first', 'second', 'third']
l

Lists can contain different types of variable, even in the same list.

In [0]:
another_list = ['first', 'second', 'third', 1, 2, 3]
another_list

## Mutable Datastructures

Lists are _mutable_; their contents can change as more statements are interpreted.

In [0]:
l.append('fourth')
l

## References

- Whenever we bind a variable to a value in Python we create a *reference*.

- A reference is distinct from the value that it refers to.

- Variables are names for references.

In [0]:
X = [1, 2, 3]
Y = X

### Side effects

- The above code creates two different references (named `X` and `Y`) to the *same* value `[1, 2, 3]`

- Because lists are mutable, changing them can have side-effects on other variables.

- If we append something to `X` what will happen to `Y`?

In [0]:
X.append(4)
X

In [0]:
Y

## State and identity

- The state referred to by a variable is *different* from its identity.

- To compare *state* use the `==` operator.

- To compare *identity* use the `is` operator.

- When we compare identity we check equality of references.

- When we compare state we check equality of values.

### Example

- We will create two *different* lists, with two associated variables.

In [0]:
X = [1, 2]
Y = [1]
Y.append(2)

### Comparing state

In [0]:
X

In [0]:
Y

In [0]:
X == Y

### Comparing identity

In [0]:
X is Y

### Copying data prevents side effects

- In this example, because we have two different lists we avoid side effects

In [0]:
Y.append(3)
X

In [0]:
X == Y

In [0]:
X is Y

## Iteration

- We can iterate over each element of a list in turn using a `for` loop:

In [0]:
my_list = ['first', 'second', 'third', 'fourth']
for i in my_list:
    print(i)

### Including more than one statement inside the loop

In [0]:
my_list = ['first', 'second', 'third', 'fourth']
for i in my_list:
    print("The next item is:")
    print(i)
    print()

### Looping a specified number of times

- To perform a statement a certain number of times, we can iterate over a list of the required size.

In [0]:
for i in [0, 1, 2, 3]:
    print("Hello!")

### The `range` function

- To save from having to manually write the numbers out, we can use the function `range()` to count for us.  

- We count starting at 0 (as in Java and C++).

In [0]:
list(range(4))

### `for` loops with the `range` function

In [0]:
for i in range(4):
    print("Hello!")

### <a name="ex2"></a> Exercise 2, First loop

- Make a list named `week` containing the names of the seven days of the week.

- Using a `for` loop, print each day of the week together with these associated messages:

 - "At work", if it is monday to thursday
 - "Oh yeah it's friday", if it is friday
 - "At rest this weekend", if it is saturday or sunday

<a href="#ex2answer">Answer to Exercise 2</a>

## List Indexing

- Lists can be indexed using square brackets to retrieve the element stored in a particular position.

In [0]:
my_list

In [0]:
my_list[0]

In [0]:
my_list[1]

## List Slicing

- We can also a specify a _range_ of positions.  

- This is called _slicing_.

- The example below indexes from position 0 (inclusive) to 2 (exclusive).

In [0]:
my_list[0:2]

### Indexing from the start or end

- If we leave out the starting index it implies the beginning of the list:

In [0]:
my_list[:2]

- If we leave out the final index it implies the end of the list:

In [0]:
my_list[2:]

#### Copying a list

- We can conveniently copy a list by indexing from start to end:

In [0]:
new_list = my_list[:]

In [0]:
new_list

In [0]:
new_list is my_list

In [0]:
new_list == my_list

## Negative Indexing

- Negative indices count from the end of the list:

In [0]:
my_list[-1]

In [0]:
my_list[:-1]

## Collections

- Lists are an example of a *collection*.

- A collection is a type of value that can contain other values.

- There are other collection types in Python:

    - `tuple`
    - `set`
    - `dict`

### Tuples

- Tuples are another way to combine different values.

- The combined values can be of different types.

- Like lists, they have a well-defined ordering and can be indexed.

- To create a tuple in Python, use round brackets instead of square brackets

In [0]:
tuple1 = (50, 'hello')
tuple1

In [0]:
tuple1[0]

In [0]:
type(tuple1)

#### Tuples are immutable

- Unlike lists, tuples are *immutable*.  Once we have created a tuple we cannot add values to it.

In [0]:
tuple1.append(2)

### Sets

- Lists can contain duplicate values.

- A set, in contrast, contains no duplicates.

- Sets can be created from lists using the `set()` function.

In [0]:
X = set([1, 2, 3, 3, 4])
X

In [0]:
type(X)

- Alternatively we can write a set literal using the `{` and `}` brackets.

In [0]:
X = {1, 2, 3, 4}
type(X)

#### Sets are mutable

- Sets are mutable like lists:

In [0]:
X.add(5)
X

- Duplicates are automatically removed

In [0]:
X.add(5)
X

#### Sets are unordered

- Sets do not have an ordering.

- Therefore we cannot index or slice them:

In [0]:
X[0]

#### Operations on sets

- Union: $X \cup Y$

In [0]:
X = {1, 2, 3}
Y = {4, 5, 6}
X | Y

- Intersection: $X \cap Y$:

In [0]:
X = {1, 2, 3, 4}
Y = {3, 4, 5}
X & Y

- Difference $X - Y$:

In [0]:
X - Y

### Dictionaries

- A dictionary contains a mapping between *keys*, and corresponding *values*.
    
    - Mathematically it is a one-to-one function with a finite domain and range.
    
- Given a key, we can very quickly look up the corresponding value.

- The values can be any type (and need not all be of the same type).

- Keys can be any immutable (hashable) type.

- They are abbreviated by the keyword `dict`.

- In other programming languages they are sometimes called *associative arrays*.

#### Creating a dictionary

- A dictionary contains a set of key-value pairs.

- To create a dictionary:

In [0]:
students = { 107564: 'Xu', 108745: 'Ian', 102567: 'Steve' }

- The above initialises the dictionary students so that it contains three key-value pairs.

- The keys are the student id numbers (integers).

- The values are the names of the students (strings).

- Although we use the same brackets as for sets, this is a different type of collection:

In [0]:
type(students)

#### Accessing the values in a dictionary

- We can access the value corresponding to a given key using the same syntax to access particular elements of a list:

In [0]:
students[108745]

- Accessing a non-existent key will generate a `KeyError`:

In [0]:
students[123]

#### Updating dictionary entries

- Dictionaries are mutable, so we can update the mapping:

In [0]:
students[108745] = 'Fred'
print(students[108745])

- We can also grow the dictionary by adding new keys:

In [0]:
students[104587] = 'John'
print(students[104587])

#### Dictionary keys can be any immutable type

- We can use any immutable type for the keys of a dictionary

- For example, we can map names onto integers:

In [0]:
age = { 'John':21, 'Steve':47, 'Xu': 22 }

In [0]:
age['Steve']

#### Creating an empty dictionary

- We often want to initialise a dictionary with no keys or values.

- To do this call the function `dict()`:

In [0]:
result = dict()

- We can then progressively add entries to the dictionary, e.g. using iteration:

In [0]:
for i in range(5):
    result[i] = i**2
print(result)

#### Iterating over a dictionary

- We can use a for loop with dictionaries, just as we can with other collections such as sets.
- When we iterate over a dictionary, we iterate over the *keys*.
- We can then perform some computation on each key inside the loop.
- Typically we will also access the corresponding value.

In [0]:
for id in students:
    print(students[id])

### The size of a collection

- We can count the number of values in a collection using the `len` (length) function.

- This can be used with any type of collection (list, set, tuple etc.).

In [0]:
len(students)

In [0]:
len(['one', 'two'])

In [0]:
len({'one', 'two', 'three'})

#### Empty collections

- Empty collections have a size of zero:

In [0]:
empty_list = []
len(empty_list) == 0

### Arrays

- Python also has arrays which contain a *single* type of value.

- i.e. we *cannot* have different types of value within the same array.   

- Arrays are mutable like lists; we can modify the existing elements of an array.

- However, we typically do not change the size of the array; i.e. it has a fixed length.

## Defining new functions

In [0]:
def squared(x):
    return x ** 2

squared(5)

## Local Variables

- Variables created inside functions are _local_ to that function.

- They are not accessable to code outside of that function.

In [0]:
def squared(x):
    temp = x ** 2
    return temp

squared(5)

In [0]:
temp

## Functional Programming

- Functions are first-class citizens in Python.

- They can be passed around just like any other value.

In [0]:
squared

In [0]:
y = squared
y

In [0]:
y(5)

## Mapping the elements of a collection

- We can apply a function to each element of a collection using the built-in function `map()`.

- This will work with any collection: list, set, tuple or string.

- This will take as an argument _another function_, and the list we want to apply it to.

- It will return the results of applying the function, as a list.

In [0]:
list(map(squared, [1, 2, 3, 4]))

## List Comprehensions

- Because this is such a common operation, Python has a special syntax to do the same thing, called a _list comprehension_.

In [0]:
[squared(i) for i in [1, 2, 3, 4]]

- If we want a set instead of a list we can use a set comprehension

In [0]:
{squared(i) for i in [1, 2, 3, 4]}

## Anonymous Function Literals

- We can also write _anonymous_ functions.
- These are function literals, and do not necessarily have a name.
- They are called _lambda expressions_ (after the $\lambda-$calculus).

In [0]:
list(map(lambda x: x ** 2, [1, 2, 3, 4]))

## Filtering data

- We can filter a list by applying a _predicate_ to each element of the list.

- A predicate is a function which takes a single argument, and returns a boolean value.

- `filter(p, X)` is equivalent to $\{ x : p(x) \; \forall x \in X \}$ in set-builder notation.

In [0]:
list(filter(lambda x: x > 0, [-5, 2, 3, -10, 0, 1]))

We can use both `filter()` and `map()` on other collections such as strings or sets.

In [0]:
list(filter(lambda x: x > 0, {-5, 2, 3, -10, 0, 1}))

## Filtering using a list comprehension

- Again, because this is such a common operation, we can use simpler syntax to say the same thing.

- We can express a filter using a list-comprehension by using the keyword `if`:

In [0]:
data = [-5, 2, 3, -10, 0, 1]
[x for x in data if x > 0]

- We can also filter and then map in the same expression:

In [0]:
from numpy import sqrt
[sqrt(x) for x in data if x > 0]

## The reduce function

- The `reduce()` function recursively applies another function to pairs of values over the entire list, resulting in a _single_ return value.

In [0]:
from functools import reduce
reduce(lambda x, y: x + y, [0, 1, 2, 3, 4, 5])

## Big Data

- The `map()` and `reduce()` functions form the basis of the map-reduce programming model.

- [Map-reduce](https://en.wikipedia.org/wiki/MapReduce) is the basis of modern highly-distributed large-scale computing frameworks.

- It is used in BigTable, Hadoop and Apache Spark. 

- See [these examples in Python](https://spark.apache.org/examples.html) for Apache Spark.

### Answers for the exercises

<a name="ex1answer">Answer to Exercise 1</a>

In [0]:
a = 1
b = 1
c = -6
x = -2
y = a * x ** 2 + b * x + c
print('y evaluated at x = -2 is', y)
x = 0 
y = a * x ** 2 + b * x + c
print('y evaluated at x = 0 is', y)
x = 2.1
y = a * x ** 2 + b * x + c
print('y evaluated at x = 2.1 is {:0.2f}'.format(y))

<a href="#ex1">Back to Exercise 1</a>

<a name="ex2answer">Answer to Exercise 2</a>

In [0]:
week = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday','saturday', 'sunday']

for day in week:
    if day == "saturday" or day == "sunday":
        print("{} : At rest this weekend".format(day))
    elif day == "friday":
        print("{} : Oh yeah it's friday".format(day))
    else:
        print("{} : At work".format(day))

<a href="#ex2">Back to Exercise 2</a>