# Overview of Python (2)

"Portable, powerful, and a breeze to use", Python is a popular, open-source programming language used for both scripting applications and standalone programs. Python can be used to do pretty much anything.

## The `NumPy` module

- Arrays are provided by a separate _module_ called NumPy.

- NumPy is shortened from Numerical Python, it is the most universal and versatile library both for pros and beginners. 

- Using this tool we are up to operate with multi-dimensional arrays and matrices with ease and comfort. 

- Such functions like linear algebra operations and numerical conversions are also available.

- We can import the module and then give it a shorter _alias_.

In [0]:
import numpy as np

- We can now use the functions defined in this package by prefixing them with `np`.  

- The function `array()` creates an array given a list.

### Creating an array

- We can create an array from a list by using the `array()` function defined in the `numpy` module:

In [0]:
x = np.array([0, 1, 2, 3, 4])
x

In [0]:
type(x)

### Functions over arrays

- When we use arithmetic operators on arrays, we create a new array with the result of applying the operator to each element.

In [0]:
y = x * 2
y

- The same goes for functions:

In [0]:
x = np.array([-1, 2, 3, -4])
y = abs(x)
y

### Descriptive statistics

In [0]:
data = np.array([2.0 , 3.2 , 4.6 , 8.6 , 3.6 , 3])
data

In [0]:
print("data values: ",data)
print("data min/max: ",data.min(),"/",data.max())      # get  min and max values of data array
print("data > 3: ",data > 3)                           # keep values greater than 3
print("data > max/2: ",data > data.max()/2)            # keep values greater than max/2
print("data > max/2: ",data * (data > data.max()/2))   # original array *  previous array = put the values outside the condition to 0
print("data > max/2: ",data [data > data.max()/2])     # only keep the values corresponding to the condition

### Populating Arrays

- To populate an array with a range of values we use the `np.arange()` function:

In [0]:
x = np.arange(0, 10)
x

- We can also use floating point increments.

In [0]:
x = np.arange(0, 1, 0.1)
x

## The `matplotlib` module

Matplotlib is a flexible library for creating graphs and visualization.

### Basic Plotting

- Plotting is not part of standard Python, but a nice package exist to create pretty graphics

- We will use a module called `matplotlib` to plot some simple graphs.

- This module provides functions which are very similar to MATLAB plotting commands.

In [0]:
import matplotlib.pyplot as plt # pyplot is a sub-module of matplotlb module

plt.plot([1, 2, 4, 2]) # plot list [1,2, 4, 2] using x as index list 0..N-1

In [0]:
plt.plot([1, 2, 3], [2, 4, 3])

In [0]:
plt.scatter([1, 2, 3, 4, 5, 6, 7, 8], [2, 4, 3, 12, 8, 5, 7, 9], marker='x', color='red')

In [0]:
y = x*2 + 5
plt.plot(x, y) # plot x and y variables (both defined as arrays) using default line style and color

In [0]:
plt.plot(x, y,'--', linewidth=6, color='green')

In [0]:
x = np.linspace(-4, 4, 5) # x is an array of 5 floats from -4 to +4
print(x)

In [0]:
a = 1
b = 1
c = -6
x = np.linspace(-4, 4, 100) # Use 100 x values from -4 to +4
y = a * x ** 2 + b * x + c  # Compute y for all x values
plt.plot(x, y)

  ### New figure and figure size

- Whenever we give a plotting statement in a code cell, a figure with a default size is automatically created.
- All subsequent plotting statements in the code cell are added to the same figure. 
- If we want a different size of the figure, we can create a figure first with the desired figure size using the `plt.figure(figsize=(width, height))` syntax.
- Any subsequent plotting statement in the code cell is then added to the figure.

In [0]:
plt.figure(figsize=(10,3))
plt.plot([1, 2, 3], [2, 4, 3], linewidth=6)
plt.title('Very wide figure')
plt.figure()  # new figure of default size
plt.plot([1, 2, 3], [1, 3, 1], 'r')
plt.title('Second figure')
plt.savefig('Test.png') # only the second plot is saved

In [0]:
plt.subplots(2,1,figsize=(7, 7))
plt.subplot(2,1,1)
plt.plot([1, 2, 3], [2, 4, 3], linewidth=6)
plt.title('First figure')
plt.subplot(2,1,2)
plt.plot([1, 2, 3], [1, 3, 1], 'r')
plt.title('Second figure')
plt.savefig('Test2.png') # both plots are saved

### <a name="ex1"></a> Exercise 1, First graph

- Plot $y=(x+2)(x-1)(x-2)$ for $x$ going from $-3$ to $+3$ using a dashed red line.
- On the same figure, plot a blue circle for every point where $y$ equals zero. 
- Set the size of the markers to 10 (you may need to read the help of `plt.plot` to find out how to do that). 
- Label the axes as 'x-axis' and 'y-axis'. 
- Add the title 'My first nice Python figure'.

<a href="#ex1answer">Answer to Exercise 1</a>

### Plotting a sine curve

In [0]:
from numpy import pi, sin

x = np.arange(0, 2*pi, 0.01)
y = sin(x)
plt.plot(x, y)

### Plotting a histogram

- We can use the `hist()` function in `matplotlib` to plot a histogram

In [0]:
# Generate some random data
data = np.random.randn(1000)

ax = plt.hist(data)

### Computing histograms as matrices

- The function `histogram()` in the `numpy` module will count frequencies into bins and return the result as a 2-dimensional array.

In [0]:
np.histogram(data)

### Loading data files

- Numerical data can be loaded from a data file using the `loadtxt` function of `numpy`: `np.loadtxt`. 
- You need to make sure the file is in the same directory as your notebook, or provide the full path. 
- The filename (or path plus filename) needs to be between quotes.

### <a name="ex2"></a> Exercise 2, Loading data and adding a legend
We are provided with the data files containing the mean montly temperature of Holland, New York City, and Beijing. The Dutch data is stored in `holland_temperature.dat`, and the other filenames are similar.

- Plot the temperature for each location against the number of the month (starting with 1 for January) all in a single graph. 
- Add a legend by using the function `plt.legend(['line1','line2'])`, etc., but then with more descriptive names. 
- Find out about the `legend` command using `plt.legend?`. 
- Place the legend in an appropriate spot (the upper left-hand corner may be nice, or let Python figure out the best place).

In [0]:
# retrive data files locally
!wget https://davidsarrut.pages.in2p3.fr/learn_python/data/holland_temperature.dat
!wget https://davidsarrut.pages.in2p3.fr/learn_python/data/beijing_temperature.dat
!wget https://davidsarrut.pages.in2p3.fr/learn_python/data/holland_seawater.dat
!wget https://davidsarrut.pages.in2p3.fr/learn_python/data/newyork_temperature.dat
!ls

<a href="#ex2answer">Answer to Exercise 2</a>

### <a name="ex3"></a> Exercise 3, Subplots and fancy tick markers

- Load the average monthly air temperature and seawater temperature for Holland.
- Create one plot with two graphs above each other using the subplot command (use `plt.subplot?` to find out how).
- On the top graph, plot the air and sea temperature. Label the ticks on the horizontal axis as 'jan', 'feb', 'mar', etc., rather than 0,1,2,etc. Use `plt.xticks?` to find out how. 
- In the bottom graph, plot the difference between the air and seawater temperature. 
- Add legends, axes labels, the whole shebang.

<a href="#ex3answer">Answer to Exercise 3</a>

### Answers for the exercises

<a name="ex1answer">Answer to Exercise 1</a>

In [0]:
x = np.linspace(-3, 3, 100)
y = (x + 2) * (x - 1) * (x - 2)
plt.plot(x, y, 'r--')
plt.plot([-2, 1, 2], [0, 0, 0], 'bo', markersize=10)
plt.xlabel('x-axis')
plt.ylabel('y-axis')
plt.title('First Python Figure of Mark Bakker')

<a href="#ex1">Back to Exercise 1</a>

<a name="ex2answer">Answer to Exercise 2</a>

In [0]:
holland = np.loadtxt('holland_temperature.dat')
newyork= np.loadtxt('newyork_temperature.dat')
beijing = np.loadtxt('beijing_temperature.dat')
plt.plot(np.linspace(1, 12, 12), holland)
plt.plot(np.linspace(1, 12, 12), newyork)
plt.plot(np.linspace(1, 12, 12), beijing)
plt.xlabel('Number of the month')
plt.ylabel('Mean monthly temperature (Celcius)')
plt.xticks(np.linspace(1, 12, 12))
plt.legend(['Holland','New York','Beijing'], loc='best');

<a href="#ex2">Back to Exercise 2</a>

<a name="ex3answer">Answer to Exercise 3</a>

In [0]:
air = np.loadtxt('holland_temperature.dat') 
sea = np.loadtxt('holland_seawater.dat')
plt.subplot(211)
plt.plot(air, 'b', label='air temp')
plt.plot(sea, 'r', label='sea temp')
plt.legend(loc='best')
plt.ylabel('temp (Celcius)')
plt.xlim(0, 11)
plt.xticks([])
plt.subplot(212)
plt.plot(air-sea, 'ko')
plt.xticks(np.linspace(0, 11, 12),
           ['jan','feb','mar','apr','may','jun','jul','aug','sep','oct','nov','dec'])
plt.xlim(0, 11)
plt.ylabel('air - sea temp (Celcius)');

<a href="#ex3">Back to Exercise 3</a>